[submodule "GenPhysX"]
	path = GenPhysX
	url = ../genphysx
	branch = dev
[submodule "eerUtils"]
	path = eerUtils
	url = ../libeerutils
	branch = dev
[submodule "SPI"]
	path = SPI
	url = ../SPI
	branch = dev
[submodule "SPI-Externa"]
	path = SPI-External
	url = ../SPI-External
